<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true">
	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout" pattern="%highlight{[%t] %-5level %msg%n%throwable}" />
		</Appender>
	</Appenders>

	<Loggers>
		<Root level="trace">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>